{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Inscription {% endblock %}

{% block body %}
<div class="container">
    <h1>Inscription</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-primary bg-dark">S'inscrire</button>
    {{form_end(form)}}
    
</div>
{% endblock %}