{% extends 'base.html.twig' %}

{% block title %}Hello SecretController!{% endblock %}

{% block body %}
<h1>La Team Frigomatic</h1>
<p>Petite présentation de la team qui vous a concocté cette petite application avec toute la passion</p>


<section class="row">
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Rodolphe Wojtkowiak</h3>
                <p>Texte de description + lien cv + porte folio</p>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Younes Bkaa</h3>
                <p>Texte de description + lien cv + porte folio</p>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h3>Mohamed Henini</h3>
                <p>Texte de description + lien cv + porte folio</p>
            </div>
        </article>
    </div>
</section>

{% endblock %}
