{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Team {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
<h1>La Team Frigomatic</h1>
<p>Petite présentation de la team qui vous a concocté cette petite application avec toute la passion</p>


<section class="row text-center mt-5">
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="https://media.licdn.com/dms/image/C5603AQEr03ditSP-oA/profile-displayphoto-shrink_800_800/0?e=1565827200&v=beta&t=QX8oICL4bUo8DAuCl4zw7TyH9AoOu4mVRxJfv5CSDCA"  class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="mb-3">Rodolphe Wojtkowiak</h3>
                <p>Développeur Backend PHP <br> Symfony <br> <a href="https://www.linkedin.com/in/rodolphe-wojtkowiak/" target="_blank" ><i class="fa fa-linkedin text-info" aria-hidden="true"> </i> </a> <a href="https://github.com/Rodow" target="_blank" ><i class="fa fa-github text-dark" aria-hidden="true"></i></a> </p>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="https://media.licdn.com/dms/image/C4E03AQELO74UMS6OiA/profile-displayphoto-shrink_200_200/0?e=1565827200&v=beta&t=xOzLj42g22cWHL1BFyPUPKNCziYvzBnMotWNx-iZXhs" class="card-img-top"  alt="...">
            <div class="card-body">
                <h3 class="mb-3">Younes Boukobaa</h3>
                <p>Développeur Backend PHP <br> Symfony <br> <a href="https://www.linkedin.com/in/younes-boukobaa/" target="_blank"><i class="fa fa-linkedin text-info" aria-hidden="true"></i></a> <a href="https://github.com/foybkaa" target="_blank" ><i class="fa fa-github text-dark" aria-hidden="true"></i></a> </p>
            </div>
        </article>
    </div>
    <div class="col-sm-4">
        <article class="card" style="width: 18rem;">
            <img src="https://media.licdn.com/dms/image/C4E03AQHe1odj3q5lJQ/profile-displayphoto-shrink_800_800/0?e=1565827200&v=beta&t=MDMnMzfuyIxJ9cdDQqna_AMStWVkKlUN5ezifXGfvKY"  class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="mb-3">Mohamed Henini</h3>
               <p>Développeur Backend PHP <br> Symfony <br> <a href="https://www.linkedin.com/in/mohamed-henini/" target="_blank"><i class="fa fa-linkedin text-info" aria-hidden="true"></i>  </a> <a href="https://github.com/merigoharra" target="_blank"><i class="fa fa-github text-dark" aria-hidden="true"></i></a> </p>
            </div>
        </article>
    </div>
</section>

{% endblock %}
