body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-family: 'Oswald', sans-serif
}

main {
    min-height: 80vh;
    padding-right: 0;
    padding-left: 0;
}

.required::after {
    content: "*";
    color: red;
}

.user-profil {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border-radius: 50%;
}

.user-profil-img {
    width: 100%;
    
}

/* Mise en forme des cards du frigo */
#product-list-head h3 {
    text-align: center;
    margin-top: 15%;
}

#product-list-head {
    height: 150px;
}

.product-list-head-1 {
    background-image: url(../images/imagesCategories/fruit_et_legume.jpg);
}

.product-list-head-4 {
    background-image: url(../images/imagesCategories/boisson.jpg);
}

.product-list-head-5 {
    background-image: url(../images/imagesCategories/feculent.jpg);
}

.product-list-head-6 {
    background-image: url(../images/imagesCategories/lait.jpg);
}

.product-list-head-7 {
    background-image: url(../images/imagesCategories/viande.jpg);
}

.product-list-head-8 {
    background-image: url(../images/imagesCategories/gras.jpg);
}

.product-list-head-9 {
    background-image: url(../images/imagesCategories/sucre.jpg);
}

.product-list-head-10 {
    background-image: url(../images/imagesCategories/epice.jpg);
}

#frigo-product{
   height:150pt;
   overflow:auto;
}

#all-frigo{
    height: 80vh;
    overflow:auto;
}