{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Acceuil {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
<h1 class="text-center my-4">Bonjour {{ app.user.firstname }}</h1>
<h5 class=" mb-3">Voici quelques recettes que vous pouvez réaliser avec ce que vous avez dans votre frigo : </h5>
    <article class="row">
        {% for recipe in recipes %}

            {% include 'utils/recipe-card.html.twig' %}

        {% endfor %}
    </article>
    <article>
        <h5 class=" mb-3">Voici les aliments les plus ancien de votre frigo ! (uniquement : Fruit et légume, Produit laitier, Viande
            poisson oeuf) Pourquoi ne pas les manger aujourd'hui ?</h5>
      
            <p>Liste des produit avec le createdAt le plus ancien -> lien vers la page recette avec le tri par produit
            correspondant</p>
    </article>
                
    <article>
        
        <h5 class=" my-3">Ce que vous avez d'autre dans votre Frigo ...</h5> 
        <p>affichage des produits du frigo</p> 
    
       
  
    </article>
<div class="text-center">
          <a class="btn btn-success mb-5" href="{{ path('app_userProduct_home') }}">Aller dans mon frigo</a>         
                    </div>
{% endblock %}
