{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Acceuil {% endblock %}

{% block body %}
<h1>Accueil de l'application</h1>
<p>Ici nous sommes sur l'accueil une fois que l'utilisateur est connecté</p>
<a href="{{ path('app_product_home') }}">Aller dasn mon frigo</a>
<a href="{{ path('app_user_home') }}">Aller sur mon profil</a>
{% endblock %}
