{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Recettes {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}

{% block body %}
    <h1>affichage des recettes par produit</h1>
    <article class="row mt-3">
    {% for recipeProduct in recipeProducts %}
        {% set recipe = recipeProduct.recipe %}

            {% include 'utils/recipe-card.html.twig' %}

    {% endfor %}
    </article>


{% endblock %}