{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mon Frigo {% endblock %}

{% block body %}
<h1>Bienvenue les gars, </h1>
<p>ici c'est la page qui affiche votre frigo et ce qu'il y a dedans ! </p>

{% endblock %}
