{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | recettes {% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Bienvenue les gars, </h1>
        <p>ici on retrouve toutes les recettes ! </p>

    
</div>
{% endblock %}