{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | recettes {% endblock %}

{% block body %}

{# Affichage des tags#}
<h1>{{ tags.name }}</h1>

<div class="container">

    <div class="row">
        {% for recipe in tags.recipes %}

            {% include 'utils/recipe-card.html.twig' %}

        {% endfor %}
    </div>
</div>
{% endblock %}