{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | recettes {% endblock %}
{% block stylesheets %}  <link rel="stylesheet" href="{{asset('assets/css-frigo/app-home.css')}}"> {% endblock %}


{% block body %}

{# Affichage des tags#}
<h1>{{ tags.name }}</h1>

<div class="container">

    <div class="row">
        {% for recipe in tags.recipes %}

            {% include 'utils/recipe-card.html.twig' %}

        {% endfor %}
    </div>
</div>
{% endblock %}