{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mes recettes {% endblock %}

{% block body %}
    <h1>Vos recettes favorites </h1>
    <div class="row">
        {% for recipe in app.user.favoriteRecipes %}

            {% include 'utils/recipe-card.html.twig' %}

        {% endfor %}
    </div>

{% endblock %}
